<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatroom</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script
      src="https://kit.fontawesome.com/aec1c0db78.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="h-screen flex">
      <div class="w-full flex flex-col">
        <div
          id="main_videos"
          class="grow bg-black flex justify-center items-center">
          <video id="localVideo" autoplay class="video" muted></video>
          <div id="videoContainer" class="flex justify-center m-3"></div>
        </div>
        <div
          id="main_controls"
          class="flex justify-between bg-[#1C1E20] text-[#D2D2D2] p-[5px]">
          <div id="main_controls_block" class="flex mr-auto">
            <div id="btnAudioControl" class="main_controls_btn main_mute_btn">
              <i class="fa-solid fa-microphone text-[24px]"></i>
              <span>Mute</span>
            </div>
            <div
              id="btnVideoControl"
              class="main_controls_btn main_video_stop_btn">
              <i class="fa-solid fa-video text-[24px]"></i>
              <span>Stop Video</span>
            </div>
          </div>
          <!-- <div id="main_controls" class="flex">
            <div class="main_controls_btn">
              <i class="fa-solid fa-shield-halved text-[24px]"></i>
              <span>Security</span>
            </div>
            <div class="main_controls_btn">
              <i class="fa-solid fa-user-group text-[24px]"></i>
              <span>Participants</span>
            </div>
            <div class="main_controls_btn">
              <i class="fa-solid fa-comment text-[24px]"></i>
              <span>Chat</span>
            </div>
          </div>
          <div id="main_controls_block" class="flex">
            <div class="main_controls_btn">
              <span class="text-[#EB534B]">Leave Meeting</span>
            </div>
          </div> -->
        </div>
      </div>
    </main>
  </body>
</html>
<script>
  const ROOM_ID = "<%= roomId %>";
</script>
<script src="/js/bundle.js"></script>
